body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: none;
}
.container{
    color: rgb(255, 244, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    background-color: rgba(28, 206, 43, 0.72);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    min-width: 100px;
    max-width: 700px;
    min-height: 400px;
    max-height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.inputs {
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    min-width: 400px;
    max-width: 400px;
}
.already-have{
    margin-top: 50px;
    font-family: arial;
    color: white;
    text-decoration: underline;
}
#Submit-btn{
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 138px;
    background-color:rgb(187, 15, 15);
    border: none;
    margin-top:  40px;
    transform: 0.5s;
}
#Submit-btn:hover {
    border-radius: 7px;
    opacity: 0.9;
}
#Submit-btn:active {
    transition: 0s;
    opacity: 0.8;
}