* {
    padding: 0;
    margin: 0;
}
#topText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    color: black;
    cursor: pointer;
    background-color: rgb(30, 138, 30);
}
#time{
    display: block;
    font-size: 3.5em;
    user-select: none;
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.container{
    user-select: none;
    background-color: gray;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 160px;
}
.buttons {
    display: inline-block;
    user-select: none;
    background-color: crimson;
    color: white;
    border: none;
    font-size: 20px;
    padding: 0.4em 1em;
    margin: 20px 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 20px;
}
.buttons:hover {
    opacity: 0.9;
}
.buttons:active{
    opacity: 0.8;
}
@media (min-width: 1000) {
    #time{
        display: block;
        font-size: 3.5em;
        user-select: none;
        position: relative;
        top: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        min-height: 160px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 20px;
        padding: 0.4em 1em;
        margin: 20px 2px;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 10px;
        position: relative;
        top: 0px;
    }
}


@media (min-width: 1700px) {
    #time{
        display: block;
        font-size: 5.5em;
        user-select: none;
        position: relative;
        top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        min-height: 250px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 40px;
        padding: 0.2em 0.6em;
        margin: 0.7em 0.16em;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 10px;
        position: relative;
        top: 30px;
    }
}


@media (min-width: 2200px) {
    #time{
        display: block;
        font-size: 8em;
        user-select: none;
        position: relative;
        top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        min-height: 320px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 55px;
        padding: 0.25em 0.8em;
        margin: 0.7em 0.1em;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 10px;
        position: relative;
        top: 20px;
    }
}


