* {
    padding: 0;
    margin: 0;
}
.register--login{
    min-height: 125px;
    max-height: 500px;
    min-width: 100px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.anchor{
    all: unset;
    position: relative;
    cursor: pointer;
}
.start-stop-reset-text{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 150px;
    text-align: center;
    background-color: blue;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.start-stop-reset-text-start{
    background-color: red;
}
.start-stop-reset-text-stop{
    background-color: green;
}
.start-stop-reset-text-reset{
    opacity: 0.7;
    background-color: yellow;
}
#login{
    all: unset;
    background-color: darkcyan;
    padding: 10px 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}
#register{
    all: unset;
    background-color: red;
    padding: 10px 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}
#change-password{
    all: unset;
    background-color: green;
    padding: 10px 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}


#scoreboard {
    width: 300px;
    margin: 30px auto 0;
    background: #cbcbcb;
    border-radius: 8px;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    top: 85px;right: 20px;
    padding: 20px 40px;
    font-family: monospace;
    user-select: none;
}

#scoreboard #title {
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

#scoreboard .element {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 24px;
}

#scoreboard .element .unit {
    margin-left: 4px;
}

#topText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    user-select: none;
    color: black;
    cursor:zoom-in;
    background-color: rgb(30, 138, 30);
}
#stevilka{
    border: 3px red solid;
    background-color: rgb(45, 209, 45);
}
#time{
    display: block;
    font-size: 3.5em;
    user-select: none;
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.container{
    user-select: none;
    background-color: gray;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 160px;
}
.buttons {
    display: inline-block;
    user-select: none;
    background-color: crimson;
    color: white;
    border: none;
    font-size: 20px;
    padding: 0.4em 1em;
    margin: 20px 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 20px;
}
.buttons:hover {
    opacity: 0.9;
}
.buttons:active{
    opacity: 0.8;
}

@media(max-width: 600px) {
    #topText{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
        user-select: none;
        color: black;
        cursor: no-drop;
        background-color: rgb(30, 138, 30);
    }
}


@media (max-width: 1000px) {
    #topText{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100px;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
        user-select: none;
        color: black;
        cursor:zoom-in;
        background-color: rgb(30, 138, 30);
    }
    .start-stop-reset-text{
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        height: 80px;
        text-align: center;
        background-color: blue;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .start-stop-reset-text-start{
        display: none;
    }
    .start-stop-reset-text-stop{
        display: none;
    }
    .start-stop-reset-text-reset{
        display: none;
    }
    #scoreboard {
        width: 150px;
        margin: 30px auto 0;
        background: #cbcbcb;
        border-radius: 8px;
        box-shadow: 0 0 0 0 black;
        position: relative;
        top: 25px;
        right: auto;
        left: auto;
        padding: 20px 40px;
        font-family: monospace;
    }
    
    #scoreboard #title {
        font-family: monospace;
        text-align: center;
        font-size: 27px;
        margin-bottom: 5px;
    }
    
    #scoreboard .element {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
        font-size: 13px;
    }
    
    #scoreboard .element .unit {
        margin-left: 4px;
    }
}
@media (min-width: 1000px) {
    #topText{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100px;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
        user-select: none;
        color: black;
        cursor:zoom-in;
        background-color: rgb(30, 138, 30);
    }
    .start-stop-reset-text{
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        height: 65px;
        text-align: center;
        background-color: blue;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .start-stop-reset-text-start{
        background-color: red;
    }
    .start-stop-reset-text-stop{
        background-color: green;
    }
    .start-stop-reset-text-reset{
        opacity: 0.7;
        background-color: yellow;
    }
    #scoreboard {
        width: 150px;
        margin: 30px auto 0;
        background: #cbcbcb;
        border-radius: 8px;
        box-shadow: 0 0 0 0 black;
        position: relative;
        top: 25px;
        right: auto;
        left: auto;
        padding: 20px 40px;
        font-family: monospace;
    }
    
    #scoreboard #title {
        font-family: monospace;
        text-align: center;
        font-size: 27px;
        margin-bottom: 5px;
    }
    
    #scoreboard .element {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
        font-size: 13px;
    }
    
    #scoreboard .element .unit {
        margin-left: 4px;
    }
    #time{
        display: block;
        font-size: 3.5em;
        user-select: none;
        position: relative;
        top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        min-height: 160px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 20px;
        padding: 0.4em 1.1em;
        margin: 20px 2px;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 10px;
        position: relative;
        top: 10px;
    }
}
@media(min-width: 1200px) {
    .start-stop-reset-text-start{
        background-color: red;
    }
    .start-stop-reset-text-stop{
        background-color: green;
    }
    .start-stop-reset-text-reset{
        opacity: 0.7;
        background-color: yellow;
    }
}
@media (min-width: 1700px) {
    #topText{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100px;
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
        user-select: none;
        color: black;
        cursor:zoom-in;
        cursor: 100px;
        background-color: rgb(30, 138, 30);
    }
    .start-stop-reset-text{
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        height: 100px;
        text-align: center;
        background-color: blue;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .start-stop-reset-text-start{
        background-color: red;
    }
    .start-stop-reset-text-stop{
        background-color: green;
    }
    .start-stop-reset-text-reset{
        opacity: 0.7;
        background-color: yellow;
    }
    #scoreboard {
        width: 300px;
        margin: 30px auto 0;
        background: #cbcbcb;
        border-radius: 8px;
        box-shadow: 0 0 0 0 black;
        position: relative;
        top: 25px;
        right: auto;
        left: auto;
        padding: 20px 40px;
        font-family: monospace;
    }
    
    #scoreboard #title {
        font-family: monospace;
        text-align: center;
        font-size: 40px;
        margin-bottom: 2px;
    }
    
    #scoreboard .element {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        font-size: 18px;
    }
    
    #scoreboard .element .unit {
        margin-left: 2px;
    }
    #time{
        display: block;
        font-size: 5.5em;
        user-select: none;
        position: relative;
        top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        min-height: 255px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 40px;
        padding: 0.2em 0.6em;
        margin: 0.7em 0.16em;
        cursor: pointer;
        border: 3px solid black;
        border-radius: 10px;
        position: relative;
        top: 30px;
    }
}


@media (min-width: 2200px) {
    .start-stop-reset-text{
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        height: 140px;
        text-align: center;
        background-color: blue;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .start-stop-reset-text-start{
        background-color: red;
    }
    .start-stop-reset-text-stop{
        background-color: green;
    }
    .start-stop-reset-text-reset{
        opacity: 0.7;
        background-color: yellow;
    }
    #scoreboard {
        min-width: 500px;
        margin: 30px auto 0;
        background: #cbcbcb;
        border-radius: 8px;
        box-shadow: 0 0 0 0 black;
        position: relative;
        top: 25px;
        right: auto;
        left: auto;
        padding: 20px 40px;
        font-family: monospace;
    }
    
    #scoreboard #title {
        font-family: monospace;
        text-align: center;
        font-size: 70px;
        margin-bottom: 15px;
    }
    
    #scoreboard .element {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        font-size: 23px;
    }
    
    #scoreboard .element .unit {
        margin-left: 4px;
    }
    #time{
        display: block;
        font-size: 8em;
        user-select: none;
        position: relative;
        top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .container{
        user-select: none;
        background-color: gray;
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        min-height: 350px;
    }
    .buttons {
        display: inline-block;
        user-select: none;
        background-color: crimson;
        color: white;
        border: none;
        font-size: 55px;
        padding: 0.25em 0.75em;
        margin: 0.7em 0.1em;
        cursor: pointer;
        border: 4px solid black;
        border-radius: 10px;
        position: relative;
        top: 20px;
    }
}


